<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>airportconnected</key>
	<false/>
	<key>airportdisconnected</key>
	<false/>
	<key>applicationbecamefront</key>
	<false/>
	<key>applicationdidhide</key>
	<false/>
	<key>applicationdidlaunch</key>
	<false/>
	<key>applicationdidterminate</key>
	<false/>
	<key>applicationdidunhide</key>
	<false/>
	<key>applicationwilllaunch</key>
	<false/>
	<key>battery10minutes</key>
	<false/>
	<key>battery20minutes</key>
	<false/>
	<key>battery5minutes</key>
	<false/>
	<key>batterytime</key>
	<false/>
	<key>bluetoothconnected</key>
	<false/>
	<key>bluetoothdisconnected</key>
	<false/>
	<key>charged</key>
	<false/>
	<key>charging</key>
	<false/>
	<key>didmountvolume</key>
	<false/>
	<key>didunmountvolume</key>
	<false/>
	<key>didwake</key>
	<false/>
	<key>drawercreated</key>
	<false/>
	<key>ethernetconnected</key>
	<false/>
	<key>ethernetdisconnected</key>
	<false/>
	<key>firewireconnected</key>
	<false/>
	<key>firewiredisconnected</key>
	<false/>
	<key>focusedwindowchanged</key>
	<false/>
	<key>ipv4acquired</key>
	<false/>
	<key>ipv4released</key>
	<false/>
	<key>ipv6acquired</key>
	<false/>
	<key>ipv6released</key>
	<false/>
	<key>ipv4address</key>
	<false/>
	<key>ipv6address</key>
	<false/>
	<key>itunespaused</key>
	<false/>
	<key>itunesplaying</key>
	<false/>
	<key>itunessaved</key>
	<false/>
	<key>itunesstopped</key>
	<false/>
	<key>keypushed</key>
	<false/>
	<key>login</key>
	<false/>
	<key>logout</key>
	<false/>
	<key>menuclosed</key>
	<false/>
	<key>menuitemselected</key>
	<false/>
	<key>menuopened</key>
	<false/>
	<key>mouseclicked</key>
	<false/>
	<key>movedtotrash</key>
	<false/>
	<key>passworddialogopened</key>
	<false/>
	<key>poweronac</key>
	<false/>
	<key>poweronbattery</key>
	<false/>
	<key>poweronups</key>
	<false/>
	<key>powersourcechanged</key>
	<false/>
	<key>rowcollapsed</key>
	<false/>
	<key>rowexpanded</key>
	<false/>
	<key>screenchange</key>
	<false/>
	<key>screensdidsleep</key>
	<false/>
	<key>screenswakesleep</key>
	<false/>
	<key>selectedrowschanged</key>
	<false/>
	<key>sheetcreated</key>
	<false/>
	<key>spacechanged</key>
	<false/>
	<key>trashemptied</key>
	<false/>
	<key>usbconnected</key>
	<false/>
	<key>usbdisconnected</key>
	<false/>
	<key>volumerenamed</key>
	<false/>
	<key>willsleep</key>
	<false/>
	<key>willunmountvolume</key>
	<false/>
	<key>windowcreated</key>
	<false/>
	<key>windowdeminiaturized</key>
	<false/>
	<key>windowminiaturized</key>
	<false/>
</dict>
</plist>
